<ng-template #modalDetallePersonaje>
  <div class="modal-content">
    <div class="modal-body">
      <div class="col-12">
          <div class="card mt-4 shadow mb-4">
            <div class="card-header d-flex flex-row align-items-center justify-content-between">
              {{ personaje.fullName | uppercase}}
            </div>
            <div class="card-body">
              <img class="card-img-top img-fluid" [src]="personaje.imageUrl"/>
            </div>
            <div class="card-footer">
              <form autocomplete="off">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Nombre:</label>
                    <label class="col-8 col-form-label">{{personaje.firstName}}</label>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Apellido:</label>
                    <label class="col-8 col-form-label">{{personaje.lastName}}</label>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Título:</label>
                    <label class="col-8 col-form-label">{{personaje.title}}</label>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Familia:</label>
                    <label class="col-8 col-form-label">{{personaje.family}}</label>
                </div>
            </form>
            </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" aria-label="Close" (click)="cerrarModalDetallePersonaje()"
          data-dismiss="modal">Cerrar
      </button>
    </div>
  </div>
</ng-template>
